<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<%- include('./partials/nav') %>

  <body>
    <h1>Welcome To Fries</h1>
    <ul>
      <% fries.forEach(fries=> { %>
        <li>
          <a href="/fries/<%= fries._id%>">
            <%= fries.name %>
        </li>
        <% }) %>
    </ul>
  </body>

</html>